.donate--container {
  display: grid;
  grid-template-areas: 
    'header header header header header'
    'left main main main right'
    'footer footer footer footer footer';
  grid-gap: 10px;
  min-height: 100vh;
}

